.container {
  display: flex;
  flex-direction: column;
  align-items: start;
  min-height: calc(100vh - 5.4em);
  padding: 0 15rem;

  background-color: var(--color-primary);
}

.search {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 3em;

  margin-top: 3em;

  width: 100%;
}

.search input {
  flex-grow: 1;
  border: 0;
  outline: 0;
  padding: 20px 20px 20px 60px;
  min-width: 200px;

  font-size: 1.07em;
  text-shadow: var(--text-shadow);

  border-radius: 50px;
  background-color: var(--color-primary);
  box-shadow: var(--shadow);

  background-repeat: no-repeat;
  background-position: 17px center;
  background-size: 30px;

  transition: var(--transition);
}

.search input::placeholder {
  font-size: 1.15em;
  letter-spacing: initial;
}

.filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3px;
  cursor: pointer;
}

.filter img {
  width: 30px;
  fill: #ffffff;
}

.filter span {
  font-size: 1.25em;
  font-weight: 500;
}

.filters {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  width: 100%;

  margin-top: 3em;
}

.filters input {
  border: 0;
  outline: 0;
  padding: 20px 20px 20px 50px;

  background-color: var(--color-primary-light);
  box-shadow: var(--inner-shadow);
  border-radius: 50px;

  width: 270px;

  background-image: url('../../assets/svg/blackSearch.svg');
  background-repeat: no-repeat;
  background-position: 17px center;
  background-size: 25px;

  transition: var(--transition);
}

.filters input:focus {
  box-shadow: var(--focus-shadow);
}

.recipes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
  flex-grow: 1;
  width: 100%;

  margin: 3em 0 7em;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2em;
  height: 50px;
}

.pagination span {
  font-size: 1.2em;
}

.pagination img {
  width: 30px;
  cursor: pointer;
  transition: var(--transition);
}

.pagination img:hover:not([aria-disabled='true']) {
  width: 40px;
  cursor: pointer;
}

.pagination img[aria-disabled='true'] {
  cursor: not-allowed;
}

.message {
  margin-top: 15%;
  font-size: 2em;
}

@media (max-width: 768px) {
  .container {
    padding: 0 0.01rem;
    align-items: center;
  }

  .search {
    flex-direction: column;
    gap: 1em;
    margin-top: 1.5em;
  }

  .search input {
    width: 90%;
    padding: 15px 15px 15px 45px;
    font-size: 1em;
    background-repeat: no-repeat;
    background-position: 17px center;
    background-size: 25px;
  }

  .filter {
    gap: 5px;
  }

  .filter span {
    font-size: 1em;
  }

  .filters {
    flex-direction: column;
    align-items: center;
    gap: 1em;
    margin-top: 1.5em;
  }

  .filters input {
    width: 80%;
    padding: 15px 15px 15px 40px;
    font-size: 0.9em;
    background-repeat: no-repeat;
    background-position: 17px center;
    background-size: 20px;
  }

  .recipes {
    margin: 2em 0 3em;
  }

  .pagination {
    flex-direction: row;
    gap: 0.5em;
    height: auto;
    width: 100%;
  }

  .pagination span {
    font-size: 1em;
  }
}
