.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 550px;
    width: 400px;

    position: relative;
    overflow: hidden;

    border-radius: 20px;
    box-shadow: 5px 20px 50px #0000009B;
    background: var(--secondary-gradient);
    -webkit-transition: all 0.5s ease;
}

h2 {
    color: var(--white);
    font-size: 1.7em;
    font-weight: 500;
    text-align: center;

    margin-bottom: 0.3em;

    -webkit-transition: all 0.5s ease;
}

.slideUp h2 {
    font-size: 1.3em;
    font-weight: 500;
    cursor: pointer;
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;

    background-color: var(--color-primary);
    transition: var(--transition);
    border-radius: 15px;
    box-shadow: var(--inner-shadow);

    overflow: hidden;
}

.inputs:focus-within {
    box-shadow: var(--focus-shadow);
}

.inputs input, .submitBtn {
    border: 0;
    outline: 0;
}

.inputs input {
    padding: 12px 0;
    line-height: 30px;
    border-bottom: 1px solid #eee;
    width: 100%;

    font-size: 14px;
    text-shadow: var(--text-shadow);
    text-align: center;
    background: transparent;

    transition: var(--transition);
}

.inputs input:last-child {
    border-bottom: 0;
}

.submitBtn {
    width: 100%;
    padding: 20px;
    background-color: #00000066;
    
    border-radius: 15px;
    color: #FFFFFFF2;
    margin: 60px auto 0;
    font-size: 0.9em;
    font-weight: bold;
    cursor: pointer;
    visibility: visible;
    -webkit-transition: all 0.3s ease;
}

.submitBtn:hover {
    background-color: #000000A0;
}

.slideUp .submitBtn, .slideUp .inputs {
    opacity: 0;
    visibility: hidden;
}

.signUp, .signIn {
    position: absolute;

    display: flex;
    flex-direction: column;
    -webkit-transition: all 0.5s ease;
}

.signUp {
    top: 43%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    width: 65%;
    z-index: 5;

    color: #FFFFFF;
}

.signUp.slideUp {
    top: 7%;
    -webkit-transform: translate(-50%, 0%);
    -webkit-transition: all 0.5s ease;
}

.signIn {
    top: 20%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;

    background-color: var(--color-primary);
    opacity: 1;
}

.signIn:before {
    content: "";
    position: absolute;
    left: 50%;
    top: -20px;
    -webkit-transform: translate(-50%, 0);
    background-color: var(--color-primary);
    width: 200%;
    height: 250px;
    border-radius: 50%;
    z-index: 4;
}

.signIn.slideUp {
    top: 90%;
    -webkit-transition: all 0.5s ease;
}

.signIn .center {
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    width: 65%;
    z-index: 5;
    -webkit-transition: all 0.3s ease;
}

.signIn.slideUp .center {
    -webkit-transform: translate(-50%, -6%);
}

.signIn .center h2 {
    color: var(--black);
    text-align: center;
    margin-bottom: 1.7em;
}

