.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 5.4em);
  background-color: var(--color-primary);
}

.buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-top: 2em;
  margin-right: 3em;
  gap: 1em;
}

.buttons button {
  background-color: var(--color-secondary-dark);
  color: var(--white);
  border-radius: 15px;
  font-size: 1.2em;
  font-weight: 500;
  letter-spacing: 0.05em;
  box-shadow: var(--shadow-without-inset);

  padding: 1em;
  margin-right: 0.7em;
}

.title {
  margin-top: 0.5em;
  font-size: 2.2em;
  font-weight: 500;
  letter-spacing: 0.03em;
}

.owner {
  margin-top: 0.5em;
  font-size: 1.1em;
  color: var(--gray);
}

.content {
  display: flex;
  margin-top: 3em;
  flex-direction: row;
  width: 80%;
}

.leftColumn {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4em;
}

.image {
  width: 70%;

  border-radius: 20px;
  box-shadow: var(--button-shadow);
}

.videoLink {
  font-size: 1.7em;
  text-decoration: underline;
  text-align: center;
}

.rightColumn {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2em;

  margin-top: 2em;
}

ul,
ol {
  margin-left: 1em;
}

li {
  list-style-type: none;
  padding-bottom: 1em;
  line-height: 1.5em;
}

section h2 {
  margin-bottom: 0.7em;
  color: var(--black);
}

span {
  font-size: 1.4em;
  padding-left: 0.5em;
}

ul span {
  cursor: pointer;
}

span.index {
  padding-left: 0;
  font-weight: 500;
}

.crossed {
  text-decoration: line-through;
  color: var(--gray-opacity-60);
}

@media (max-width: 768px) {
  .container {
    min-height: calc(100vh - 5em);
  }

  .buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 2em;
  }

  .content {
    display: flex;
    margin-top: 1.5em;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
