.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;

    background: #000000A4;
    opacity: 0;
    transition: opacity 0.5s;
    pointer-events: none;
}

.container.active {
    opacity: 1;
    pointer-events: all;
}

.modal-content {
    padding: 20px;
    border-radius: 20px;
    background: #ffffff;
    transform: scale(0.5);
    transition: transform 0.4s;
    width: 50vw;
}

.modal-content.active {
    transform: scale(1);
}
