:root {
    --transition: all 0.2s ease-in-out;

    --color-primary: #F9F7F2;
    --color-secondary: #FFDD2E;
    --color-secondary-dark: #FBC721;
    --light-gray: #EFEEEE;
    --modal-background: #00000060;
    --dark-blue: #303960;
    --white: #FFFFFF;
    --dark-shadow: #BABECC;
    --text: #61677C;

    --secondary-gradient: radial-gradient(at center bottom, var(--color-secondary), var(--color-secondary-dark));
    --shadow: 5px 5px 20px var(--dark-shadow), -5px -5px 20px var(--white);
    --hover-shadow: 2px 2px 5px  var(--dark-shadow), -2px -2px 5px var(--white);
    --inner-shadow: inset 2px 2px 5px var(--dark-shadow), inset -5px -5px 10px var(--white);
    --focus-shadow: inset 1px 1px 2px var(--dark-shadow), inset -1px -1px 2px var(--white);
    --text-shadow: 1px 1px 0 var(--white);
}
