@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,600,700,800');

:root {
  --transition: all 0.3s ease-in-out;

  /*--color-primary: #FFFDF3;*/
  --color-primary: #f9f7f2;
  --color-primary-light: #fdfcfa;
  --color-secondary: #ffdd2d;
  --color-secondary-dark: #fbc721;
  --color-secondary-darker: #fab619;
  --modal-background: #000000a4;
  --white: #ffffff;
  --white-opacity-50: #ffffff80;
  --gray: #808080;
  --gray-opacity-60: #808080a0;
  --gray-opacity-40: #80808060;
  --gray-shadow: #0a254045;
  --light-gray: #eeeeee;
  --black: #16161d;

  --secondary-gradient: radial-gradient(
    at center bottom,
    var(--color-secondary),
    var(--color-secondary-darker)
  );

  --shadow: 0 2px 5px var(--gray-opacity-40), -2px -2px 5px var(--white) inset;
  --button-shadow: 3px 3px 10px -2px var(--gray-opacity-40),
    var(--gray) 0px 8px 16px -8px;
  --shadow-without-inset: 0 2px 5px var(--gray-opacity-40);
  --hover-shadow: 2px 2px 5px var(--gray-opacity-40), -2px -2px 5px var(--white);
  --inner-shadow: inset 2px 2px 5px var(--gray-opacity-40),
    inset -5px -5px 10px var(--white-opacity-50);
  --focus-shadow: inset 1px 1px 2px var(--gray-opacity-40),
    inset -1px -1px 2px var(--white);
  --main-block-shadow: var(--gray-opacity-40) 0px 20px 20px -20px,
    var(--gray-shadow) 0px -2px 6px 0px inset;

  /*Text*/
  --font-family: 'Fira Sans', Helvetica, Arial, sans-serif;
  --text-shadow: 1px 1px 0 var(--white);
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 400;
  color: var(--black);
  box-sizing: border-box;
}

input,
button {
  border: 0;
  outline: 0;
}

button {
  cursor: pointer;
}
